* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2
{
    color : blue; 
}
h1
{
    font-family: "Arial Black";
    color: white;
}
h2
{
    font-family: "Arial Black";
    color: white;
    background-color: darkblue;
    border-radius: 15%;
}
p
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}
body 
{
    background-size:cover;
    background:center;
    background-image: url(../images/26142.jpg);
}

.oui{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


