* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1
{
font-family: "Arial Black";
color: white;
}

p
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    animation-duration: 3s;
    animation-name: slide;
}

ul
{
    font-family: "Arial black";
	font-size : 1.2em;
    color: red;
}
body 
{
    background-size: cover;
    background-image: url(../images/Tekken_back.webp);
}

.oui{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }
}
