* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

ul
{
    font-family: "Arial black";
	font-size : 1.2em;
    color: red;
}

.oui{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}