
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1
{
    font-family: "Arial black";
	font-size : 2em;
    color: red;
}

p
{
    font-family: "Arial" ;
    font-size : 1.2em;
    color: white;
    animation-duration: 3s;
    animation-name: slide;
}
body
{
    background-size:cover;
   background-image: url(../images/smashback.jpg);
}
ul
{
    font-family: "Arial black";
	font-size : 1.2em;
    color: red;

}
.oui{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }
}
